﻿@using System.Web.Optimization
@model KeysGenerator.PL.Models.CreateCustomerModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Customer keys generator</title>
    @Styles.Render("~/styles")
    @Scripts.Render("~/scripts")
    @Scripts.Render("~/CustomerView")

    <script type="text/javascript">
        $(function() {
            $("#tabs").tabs(
            {
                active: localStorage.getItem("currentTabIndex"),
                activate: function(event, ui) {
                    localStorage.setItem("currentTabIndex", ui.newPanel[0].dataset["tabIndex"]);
                }
            });
        });
    </script>

</head>
<body>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Create customer</a></li>
        <li><a href="#tabs-2">View customer</a></li>
    </ul>
    <div id="tabs-1" data-tab-index="0">
        @using (Ajax.BeginForm("CreateCustomer", new AjaxOptions {OnSuccess = "successFunc" }))
        {
            @Html.LabelFor(m => m.Id, "Enter customer id:")
            <br/>
            @Html.EditorFor(m => m.Id)
            @Html.ValidationMessage("Id", new {@id = "ValidationId", style = "color: red"})
            <br/>
            @Html.LabelFor(m => m.NumberKeys, "Enter number of customer keys:")
            <br/>
            @Html.EditorFor(m => m.NumberKeys)
            <span id="results" style="display: none; color: green"></span>
            <br/>
            <input type="submit" value="Create customer" id="CreateCustomer"/>
        }
    </div>
    <div id="tabs-2" data-tab-index="1">
        <div id="keys" style="display: none">
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    
</script>